body {
    background-image: url("background.jpg");
    background-position: 50% 0;
    background-size: cover;
    color: aliceblue;
}

body h1 {
    text-align: center;
}

a {
    color: rgb(1, 5, 9);
    background-color: rgb(215, 226, 226);
}